 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre Zn</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Zink in Apps! no es más que una persona que dedica sus ratos libres a pensar, diseñar y desarrollar pequeñas aplicaciones.</p>
                </div>
                <div class="col-lg-4">
                    <p>Desarrollo web con Ruby on Rails y Padrino, aplicaciones móviles para dispositivos iOS y algún que otro experimento para relojes Pebble.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>