
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
		                <p>Estos son algunos de los proyectos desarrollados por Zink in Apps!</p>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                <div class="col-lg-12 text-center">
                    <div class="modal-body">
                        <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
                        <p>{{ post.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>